/* General Styles */


/* Container */
.addEmp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: auto;
}

/* Register Box */
.addEmp-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    text-align: left;
    width: 500px;
   
    
}

/* Form Elements */
.addEmp-header {
    margin-bottom: 20px;
    text-align: center;
}


.addEmp-input {
    width: 90%;
    padding: 10px;
    margin: 10px ;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.addEmp-button {
    width: 100%;
    background: #382a04;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.addEmp-button :hover {
    background: #c08607;
    
}


.addEmp-form label {
    font-weight: bold;
    margin: 10px 0 5px;
    align-self: flex-start;
   
    
}
.addEmp-form
input,
textarea,
select {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.addEmp-form textarea {
    resize: vertical;
}

