.hr-dashboard {
    padding: 40px;
    background: #f4f7fc;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 80px;
    margin-left: 60px;
    
  }
  
  .hr-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #2c3e50;
    text-align: center;
  }
  
  .hr-summary-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    
  }
  
  .hr-card {
    flex: 1;
    width: 220px;
    padding: 20px;
    background-color: #fff;
    border-left: 6px solid #3498db;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .hr-card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #34495e;
  }
  
  .hr-card p {
    font-size: 2rem;
    font-weight: bold;
    color: #2980b9;
  }
  
  .hr-action-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
  }
  
  .action-card {
    background-color: #f5f5f5;
    padding: 20px 25px;
    width: 250px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .action-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #3f51b5;
  }
  
  .action-card p {
    font-size: 14px;
    color: #555;
  }
  
  .action-card:hover {
    background-color: #e3eaff;
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
  
  

  .hr-icon {
    font-size: 2rem;
    color: #3f51b5;
    margin-bottom: 10px;
  }

  .hr-card:hover{
    transform: scale(1.02);
  }
  
  
  @media (max-width: 768px) {
    .hr-summary-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .hr-card {
      width: 100%;
    }
  
    .hr-actions {
      flex-direction: column;
      align-items: center;
    }
  
    .hr-actions button {
      width: 80%;
    }
  }
  