/* Sidebar Styles */
.sidebar {
    width: 250px; /* Default open width */
    height: 100vh;
    background-color: #bb8207; 
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    color: #ecf0f1;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease; /* Transition for sliding effect */
  }
  
  .sidebar.closed {
    width: 0; /* Sidebar collapsed width */
    padding: 0; /* Remove padding when collapsed */
    overflow: hidden; /* Prevent content from showing when collapsed */
  }
  
  .sidebar h3 {
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #ecf0f1;
    text-align: center;
    font-weight: bold;
  }
  
  .sidebar a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: #ecf0f1;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #34495e;
    color: #fff;
  }
  
  .sidebar a.active {
    background-color: #3498db;
    color: white;
  }
  
  /* Toggle Button Styles */
  .toggle-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .toggle-btn:hover {
    background-color: #2980b9;
  }
  
  /* Dashboard Layout */
  .dashboard-container {
    display: flex;
    margin-left: 250px;
  }
  
  .dashboard-main-content {
    padding: 20px;
    flex-grow: 1;
    background-color: #ecf0f1;
    margin-left: 30px;
    border-radius: 5px;
  }
  