.sidebar {
  height: 100vh;
  background-color: #1f1f1f;
  padding: 20px 10px;
  margin-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  color: #ecf0f1;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  z-index: 10;
  width: 250px;
}

.sidebar.closed {
  width: 70px;
  align-items: center;
}

.toggle-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #ecf0f1;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.sidebar-link:hover {
  background-color: #3498db;
  color: #fff;
  transform: translateX(5px);
}

.sidebar-icon {
  font-size: 18px;
}
