/* General Styles */


/* Container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background: url('https://www.fishergerman.co.uk/images/Auction_gavel_with_laptop_in_background_online_auction_istock_974329568.jpg') 
      center/cover no-repeat;
}

/* Register Box */
.register-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 500px;
    margin-top: 50px;
}

/* Form Elements */
.register-form h2 {
    margin-bottom: 20px;
}


.register-form input {
    width: 90%;
    padding: 10px;
    margin: 10px ;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-form button {
    width: 100%;
    background: #e08720;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.register-form button:hover {
    background: #c08607;
    
}

/* Login Link */
.register-form p {
    margin-top: 10px;
    font-size: 14px;
}

.register-form p a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
}

.register-form p a:hover {
    text-decoration: underline;
}
